.icon-wrapper {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;

  cursor: pointer;
}

.icon-wrapper:hover {
  background-color: whitesmoke;
}

.icons {
  background-color: white;
  border-radius: 5px;
}
