.left-menu-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

@media screen and (min-width: 1200px) {
    .left-menu-grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

.item-title {
    color: black;
}

.item-desc {
    color: gray;
}
.item {
    background-color: white;
    text-align: left;
    padding: 20px;
    border-left: 5px solid gold;
    cursor: pointer;
}

.item:hover {
    background-color: whitesmoke;
}

.options-wrapper {
    padding-top: 50px;
    display: flex;
    justify-content: flex-end;
}
