body {
    font-size: 16pt;
    background-color: white;
    color: black;
}

.container {
    display: flex;
}

.dashboard {
    width: 20%;
    background-color: rgb(72, 72, 255);
    color: white;
}

.top-dashboard-btn {
    margin-bottom: 30px;
    font-size: 20pt;
}

.top-dashboard-btn-text {
    font-size: 20pt;
    font-weight: bold;
}

.dashboard-btn {
    cursor: pointer;
    padding: 15px;
    display: flex;
}
.dashboard-btn:hover {
    background-color: rgb(108, 108, 255);
}
.right-side {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.top-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    padding: 15px 25px;
}
.top-bar-btn {
    background-color: rgb(72, 72, 255);
    border-radius: 1000px;
    padding: 10px 25px;
    color: white;
    font-size: 14pt;
    height: fit-content;
    cursor: pointer;
    font-weight: bold;
}

.top-bar-btn:hover {
    background-color: rgb(183, 183, 229);
}
.menu {
    flex: 1;
    background-color: rgb(181, 181, 181);
    display: flex;
    gap: 35px;
    padding: 15px 25px;
}

.menu-title {
    font-size: 18pt;
    margin-bottom: 10px;
}

.left-menu-wrapper {
    width: 100%;
}

.right-menu-wrapper {
    display: none;
}

@media screen and (min-width: 1200px) {
    .left-menu-wrapper {
        width: 75%;
    }
    .right-menu-wrapper {
        width: 25%;
        display: flex;
        flex-direction: column;
    }
}
.search-bar {
    background-color: lightgray;
    width: 250px;
    border-radius: 1000px;
}

.search-icon {
    font-size: 20pt;
}

.notif-icon {
    padding-right: 15px;
    padding-top: 0px;
    font-size: 16pt;
    padding: 20px;
}

.japanese-icon {
    height: 40px;
}

input {
    background-color: rgb(181, 181, 181);
    width: 400px;
    padding: 5px;
    border-radius: 20px;
    border: none;
}

.announcement {
    margin-top: 20px;
}

.first-announcement {
}
